.main-background {
  background-color: black;
  color: white;
}

.nav-custom {
  background-color: #e3f2fd;
  height: 40px;
}

.footer-image {
  height: 30px;
  width: 30px;
}

.footer-nav {
  height: 35px;
}
.jumbo-about {
  color: black;
}
