.main-background {
  background-color: black;
  color: white;
}

.nav-custom {
  background-color: #e3f2fd;
  height: 40px;
}

.footer-image {
  height: 30px;
  width: 30px;
}

.footer-nav {
  height: 35px;
}
.jumbo-about {
  color: black;
}

.items {
  display: flex;
  width: 100%;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
}

.item-details {
  margin-right: 5px;
  margin-bottom: 5px;
}

.loading-image{
  height: 550px;
  overflow: hidden;
}
