body{
  background:#222;
  color:#fff;

}
.loading-icon{
  padding:10px;
  margin: auto 47%;
  width:10px;
  height:10px;
  border-top:20px solid #ED5548;
  border-right:20px solid #599CD3;
  border-bottom: 20px solid #5CBD5E;
  border-left:20px solid #FDD901;
  background:transparent;
   -webkit-animation: rotate-right-round 1200ms ease-in-out infinite  alternate ;
  -moz-animation: rotate-right-round 1200ms ease-in-out infinite  alternate ;
 }
@-webkit-keyframes rotate-right-round
{
  0% { -webkit-transform: rotate(0deg);}
  50% {-webkit-transform: rotate(180deg); }
 100% {-webkit-transform: rotate(360deg);-webkit-border-radius:50%;}
}
@-moz-keyframes rotate-right-round
{
  0% { transform: rotate(0deg);}
  50% {transform: rotate(180deg); }
 100% {transform: rotate(360deg);border-radius:50%;}
}
h1{
  text-align:center;
  margin:5% 0;
  font-family: 'Droid Sans', sans-serif;
  font-weight:normal;
  font-size:50px;
}
