.main-background {
  background-color: black;
  color: white;
}

.homepage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-custom {
  background-color: #e3f2fd;
  font-family: "Raleway";
  display: flex !important;
  justify-content: space-between !important;
}

.nav-home {
  height: 35px;
  width: 35px;
}

.nav-others{
  display: inline-flex;
}

.nav-home-title {
  font-size: 35px !important;
  font-family: "Indie Flower"
}

.nav-size{
  font-size: 22px !important;
  margin-right: 20px !important;
}

.nav-images {
  height: 19px;
  width: 19px;
  margin-right: 17px;
}

.nav-search {
  height: 20px;
  width: 20px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 3px;
}

.footer-image {
  height: 30px;
  width: 30px;
}

.footer-nav {
  height: 35px;
}

.jumbo-about {
  color: black;
}

.items {
  display: flex;
  width: 100%;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
}

.item-details {
  margin-right: 5px;
  margin-bottom: 5px;
}

.loading-image{
  height: 550px;
  width: 100%;
  overflow: hidden;
}

.card-skills {
  display:flex;
  flex-wrap: nowrap;
}
.abilities {
  width: 150px;
  height: 150px;
  padding: 20px;
}

.main-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search {
  font-size: 20px;
  justify-content: center;
  display: flex;
  margin-bottom: 35px;
}

.searching {
  display: flex;
  justify-content: center;
}

.bar-value {
  color: black;
  font-family: "Raleway";
}

.bar-titles {
  font-family: "Raleway";
  display: inline-flex;
}

.forced-value{
  margin-top: 6px;
  margin-bottom: 6px;
  font-family: "Raleway";
}

.radio-all {
  margin-right: 10px;
}

.radio-solo {
  margin-right: 5px;
  padding-top: -5px;
}

.custom-graphs {
  display: flex;
  justify-content: space-around !important;
  font-family: "Inconsolata";
  font-size: 25px !important;
}

.container-1 #search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 14pt;
  float: left;
  color: #a39e9e;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;


    -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.container-1 #search:hover, .container-1 #search:focus, .container-1 #search:active{
    outline:none;
    background: #ffffff;
  }
